{% comment %} {% extends 'base.html' %} {% endcomment %}

{% block title %}Home - AI Chatbot{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Welcome to Invoice IQ</h1>
    <p>Chat with the information on chat model</p>
    <button id="dialogTrigger" class="btn btn-primary">Open Dialog</button>
</div>

<div id="dialog" title="Hello!" style="display:none;">
    <p>Chat with our custom AI model</p>
</div>

<script>
    $(document).ready(function () {
        $("#dialogTrigger").click(function () {
            $("#dialog").dialog();
        });
    });
</script>
{% endblock %}
